---
version: "3.7"
services:
  sonarr-exporter:
    image: ghcr.io/onedr0p/exportarr:v1.0.0
    container_name: sonarr-exporter
    command: ["sonarr"]
    environment:
      PORT: 9707
      URL: "http://x.x.x.x:8989" # or; http://sonarr:8989
      APIKEY: "xxx"
#    networks:
#    - your_custom_network # optional
    ports:
      - "9707:9707"
    restart: unless-stopped
  radarr-exporter:
    image: ghcr.io/onedr0p/exportarr:v1.0.0
    container_name: radarr-exporter
    command: ["radarr"]
    environment:
      PORT: 9708
      URL: "http://x.x.x.x:7878" # or; http://radarr:7878
      APIKEY: "xxx"
#    networks:
#    - your_custom_network # optional
    ports:
      - "9708:9708"
    restart: unless-stopped
  lidarr-exporter:
    image: ghcr.io/onedr0p/exportarr:v1.0.0
    container_name: lidarr-exporter
    command: ["lidarr"]
    environment:
      PORT: 9709
      URL: "http://x.x.x.x:8686" # or; http://lidarr:8686
      APIKEY: "xxx"
#    networks:
#     - your_custom_network  ## optional unless to access on the same network.
    ports:
      - "9709:9709"
    restart: unless-stopped
  prowlarr-exporter:
    image: ghcr.io/onedr0p/exportarr:latest
    container_name: prowlarr-exporter
    command: ["prowlarr"]
    environment:
      PORT: 9710
      URL: "http://x.x.x.x:9696" ## service name can also be used if they are on the same network for example http://prowlarr:8080
      APIKEY: "abc"
      # PROWLARR_BACKFILL: true ##optional but recommended
      # PROWLARR_BACKFILL_SINCE_DATE: "2023-03-01" ##optional but recommended
#    networks:
#     - your_custom_network  ## optional unless to access on the same network.
    ports:
     - "9710:9710"
    restart: unless-stopped
  sabnzbd-exporter:
    image: ghcr.io/onedr0p/exportarr:latest
    container_name: sabnzbd-exporter
    command: ["sabnzbd"]
    environment:
      PORT: 9711
      URL: "http://x.x.x.x:8080" ## service name can also be used if they are on the same network for example http://sabnzbd:8080
      APIKEY: "abc"
#    networks:
#     - your_custom_network  ## optional unless to access on the same network.
    ports:
     - "9711:9711"
    restart: unless-stopped