---
name: release

on:
  push:
    tags:
      - v*

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Tests
        uses: ./.github/actions/tests

      - name: Build
        uses: ./.github/actions/docker-image

      - name: Release
        uses: ./.github/actions/go-release
